ul {
    list-style: none;
}


li > span > .star-icon {
    height: auto;
    width: 3%;
    

}

li > span > .delete-icon {
    height: auto;
    width: 25%;
    cursor: pointer;
   
}
li > span > img {
float: right;
 margin-left: 5px;
}
